body {
    box-sizing: border-box;
    margin:0;
}

body>section {
    display: flex;
    width: 100%;
    height: 95vh;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0;
}

div {
    display: flex;
    width:20%;
    flex-direction: column;

}
#painting-div{
    display:flex;
    border: 1px solid black;
    width:100%;
    height:100%;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column-reverse;
}

#main-button {
    width:100%;
    height:3.5vh;
    margin:0;
    color: white;
    background-color: rgb(61, 55, 51);
}
