*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 109, 109);
}
h1 {
    display: flex;
    justify-content: center;
    background-color:rgb(154, 235, 14);
    margin: 0;
    position: fixed;
    width:100%;
    top:0;

}

p{
    margin-top: 50px;
    background-color: rgb(250, 221, 54);
    padding: 10px;
    color: rgb(250, 101, 101);
    text-align: center;
}

div {
    background-color: rgb(11, 83, 15);
    display: flex;
    flex-direction: column;
    width:20%;
    position: sticky;
    top:20px;
    color: rgb(0, 130, 7);
}

h2 {
    display: flex;
    justify-content: center;
    color:white;
}

a {
    color:white;
    text-decoration: none;
}

section {
    display:flex;
    flex-direction: row;
    height:1000px;
}

section> figure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex:1;
    flex-wrap: wrap;
}

img {
    margin: 5px;
    border: 1px solid black;
}