@keyframes grow {
    0% {
        width: 100%;
    }
    50% {
        width: 40%;
    }
    100% {
        width: 100%;
    }
}

* {
    font-family:sans-serif;
    box-sizing:border-box;
    font-weight: bold;
}

.box{
    width:100px;
    height:100px;
}
.container {
    border:3px solid black;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: grow 5s infinite;
}

div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: rgb(255,253,138);
    order: 3;
    flex:1;
}
.box2 {
    background-color: rgb(138,255,163);
    order: 6;
    flex:1;
}
.box3 {
    background-color: rgb(138,222,255);
    order: 2;
    flex:1;
}
.box4 {
    background-color: rgb(159,138,255);
    order: 1;
    flex:1;
}
.box5 {
    background-color: rgb(193,138,255);
    order: 5;
    flex:1;
}
.box6 {
    background-color: rgb(255,123,138);
    order: 4;
    flex:1;
}