body {
    width:98vw;
    height:100vh;
    font-size: 2vw;
}


#form {
    display:flex;
    flex-direction: center;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:16%;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 6px;
}

#list {
    width: 100%;
}

.data {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(80, 83, 77, 0.5);
    font-size: 20px;
}

.div {
    width:50%;
    height:40%;
    font-size: 50px;
}

.button {
    width:15%;
    height:30%
}
