#main-header,#title, #characters, #main, #name, #status-container, #navigator, #profile-box, #appearances, #genres, #seasons-episodes, #total-episodes {
    display: flex;
}

#root, #header, .box, #appearances-container, #sinopse-box, #episodes-main, #season {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url("./public/break-black.jpg");
    background-size:cover;
    color:rgba(239, 241, 239, 0.7);
    font-family: sans-serif;
}

#main-header {
    width:100vw;
    height:fit-content;
    justify-content: flex-start;
    color:white;
    position: fixed;
    z-index:1;
    background-color:black;
    font-size: 1.5vw;
}

#home {
    width: 15vw;
    height: 12vh;
    background-image: url("./public/home-page.png");
    background-size: 100% 100%;
    margin: 1.5vw 0vh 0vw 3vh;
    border-radius: 8%;
}

#header {
    margin-top: 1vh;
    justify-content:space-around;
    width: 70%;
    height: 18vh;
}

#title {
    width:70%;
    justify-content: center ;
    font-size: 4vw;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#filter {
    width: 30vw;
    height: 6vh;
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

#characters {
    width: 11.2vw;
    height: 12vh;
}

#main {
    flex-wrap: wrap;
    width:100vw;
    justify-content: center;
    margin-top: 20vh;
}

#addCharacter {
    width: 11%;
    display: flex;
    justify-content:flex-end;
    color: red;
    align-items: center;
}

#form {
    display:flex;
    flex-direction: column;
    line-height:6vh;
}

#submit {
    height: 5vh;
}

button {
    width: 10vw;
    height: 2.5vh;
}
.box {
    align-content: space-around;
    height: 37vh;
    margin: 1vw 0vw 1vw;
    background-color:rgba(10, 10, 10, 0.5);
    border-radius: 0.2vw;
}

img {
    width:10vw;
    height: 25vh;
    margin: 1.3vw 2.5vw 1vw 3vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20%;
}

#name {
    justify-content: center;
}

.image-status {
    margin: 1vh;
    width: 2vw;
    height: 3vh;
}

#status-container {
    justify-content: center;
}

#status {
    margin: 1vh;
}

#navigator {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6.5vh;
    background-color: black;
}

#go-back {
    width: 9%;
    height: 100%;
    background-image: url("./public/back.png");
    background-size: 9vw 6.5vh;
    border-radius: 8%;
}

#go-forward {
    width: 9vw;
    height: 100%;
    background-image: url("./public/next.png");
    background-size: 9vw 6.5vh;
    border-radius: 8%;
}

#error {
    width:40vw;
    height: 40vh;
    border-radius: 2%;
}

#profile-box {
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 55vh;
    background-color:rgba(10, 10, 10, 0.8);
    border-radius: 3%;
    overflow:auto;
}

#actor-image {
    width: 13vw;
    height: 35vh;
    border-radius: 2%;
}

#detail {
    margin: 3vh;
    font-size: 1.5vw;
}

#occupation {
    width: 15vw;
    height: fit-content;
    border-left: 3px solid rgb(27, 27, 27);
    margin: 0 8vw;
    font-size: 1.5vw;
    padding: 3vw;
    list-style:square;
}

#job {
    margin: 3vh;
}

#appearances-container {
    margin-top: 2vh;
}

.appearance {
    margin: 5vh 3vw;
    border: 1px solid red;
    border-radius: 12%;
}

#sinopse {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20vw;
    color:rgba(255, 255, 255, 0.8);
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 3%;
    font-size: 1.6vw;
    font-stretch:ultra-expanded;
    line-height: 6vh;
}

#sinopse-box {
    display: flex;
    align-items: center;
}

#genres {
    width: fit-content;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.9);
    font-size: 1.3vw;
}

#quote {
    color: rgb(224, 168, 12);
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 2%;
    font-size: 1.3vw;
}

#episodes-main {
    margin-top: 5vh;
}

#episodes-main-title {
    font-size: 2.5vw;
    color:white;
}

#seasons-episodes {
    width: 100vw;
    justify-content: center;
    margin-top: 5vh;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 10%;
}

#season {
    width:15%;
    color: rgb(190, 142, 9);
}

#total-episodes {
    width:100%;
    justify-content: center;
    list-style: none;
}










