body {
    width: 100vw;
    height:100vh;
    font-family: sans-serif;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    margin:0;
}

#rick {
    width:90%;
    background-color: rgb(255,215,0);
    display: flex;
    justify-content: center;
    margin:0;
    
}

ul {
    list-style: none;
    margin: 0;
    background-color: yellowgreen;
    
}

a {
    text-decoration: none;
}

.images {
    display: flex;
    margin: 0.5vw;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 4px;
}