*{
    font-family: sans-serif;
    box-sizing: border-box;
}

h1, #aside, #side-bar, h2, section, #images {
    display: flex;
}

body {
    background-color: rgb(0, 84, 87);
    color: rgb(0, 84, 87);
}

h1 {
    justify-content: center;
    background-color:rgb(255,215,0);
    margin: 0;;
    position: fixed;
    width:100%;
    top:0;
    border: 2px solid black;
    border-radius: 30px;
}

p{
    margin-top: 50px;
    padding: 10px;
    color: white;
    text-align: center;
}

#aside { 
    background-color: rgb(255,215,0);
    flex-direction: column;
    width:20%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 30px;
    color: rgb(0, 84, 87);
}

#side-bar {
    flex-wrap: wrap;
    justify-content: space-around;
}
#side-bar img{
    width: 7vw;
    height: 20vh;
}

h2 {
    justify-content: center;
}

a {
    color:rgb(0, 84, 87);
    text-decoration: none;
}

section {
    flex-direction: row;
    height:1000px;
}

#images {
    justify-content: center;
    width:80%;
    flex-wrap: wrap;
}

img {
    border: 1px solid black;
    border-radius: 20px;
}
