* {
    color:white;
    font-family: sans-serif;
    margin:0;
    font-weight: bold;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    width:100%;
}

header {
    display:flex;
    background-color: rgb(0, 0, 255);
    height: 130px;
    justify-content: center;
    align-items: center;
}

main {
    height: 2000px;
    display: flex;
}

#sidebar {
    height:100%;
    background-color: rgb(58, 55, 55);
    width: fit-content;
    
}
#sidebar ul {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    position: sticky;
    top:25px;
}

li{
    padding: 10px;
}

ul {
    background-color: rgb(58, 55, 55);
    list-style-type:none; 
}
#main-content {
    background-color:  white;
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

footer {
    display: flex;
    background-color: rgb(58, 55, 55);
    justify-content: center;
}
