html,body {
    width: 100vw;
    height:100vh;
    font-size: 40px;
    margin:0;
    color:white;
}

#head {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:13%;
    background-color: rgb(63, 31, 138);
    border:2px solid black;
    border-radius: 5px;
}

#key-pressed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height:50%;
    background-color: rgba(61, 61, 42, 0.938);
    border:2px solid black;
    border-radius: 5px;
}

#coordinates {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color:rgba(61, 61, 42, 0.938);
    font-size: 15px;
    font-weight: bold;
    border:2px solid black;
    border-radius: 5px;
}
#main {
    width:100%;
    height:87%;
}