body {
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("lindo.jpg");
    background-size: 100%;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height: 55%;
    color:white;
}

.flex-columns{
    width:50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 8px;
}

input {

    border: 2px;
    border-radius: 20px;
    margin: 1vh;
    
}

#message-label {
    width: fit-content;
    margin-top:10px;
}

#message {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width:24.2vw; 
    height: 100px;
}

#message:invalid {
    outline:green;
}

#nick-label{
    width:fit-content;
    margin-top:50px;
}

#nick {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    margin:0;
}

#santa {
    border: 2px solid rgba(5, 150, 17, 0.6);
    background-color: rgba(241, 35, 35, 0.65);
    border-radius: 8px;
    font-size: 2vw;
    color:white;
}

#submit {
    background-color: rgb(70, 70, 70);
}

#body-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin-top: 17vh;
}

#table {
    background-color: rgba(255, 255, 255, 0.5);
    width:100%;
    height:100%;
    margin-top: 1.4vh;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y:scroll;
}

#table-box {
    width: 40%;
    height: 70%;
}

#clear {
    width:48%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}