* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;
}

h1 {
    display: flex;
    background-color: rgb(255, 156, 27);
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
}

h2 {
    background-color: rgb(255,156,27);
    width: 15%;
    margin:0;
    
}

p {
    display: flex;
    justify-content: center;
}

.sidebar {
    display: flex;
    background-color: rgb(255,156,27);
    flex-direction: column;
    width: fit-content;
    height: 200px;
    margin-top: 0px;
}

.sidebar li {
    margin-top: 5%;
    margin-bottom: 50%;
    list-style: none;
}

image {
    display: flex;
    justify-content: center;
    flex-grow:1px;

}

div {
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}