body {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    font-size: 3vw;
    font-family: sans-serif;
    background-color: rgb(80, 18, 224);
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}

#main-bar {
    width:50%;
    height:10%;
    border: 4px solid black;
    border-radius: 8px;
}

#bar {
    margin: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(0.25turn, #e66465, #9198e5);
    border-radius: 8px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(6, 7, 78)
    
}

#press, #restart {
    margin-top: 2vh;
    width:8%;
    height: 4%;
    background-color: white;
    border-radius: 8px;
}

#white-bar {
    position: absolute;
    background-position: top;
    background-color:transparent;
    width:50vw;
    height:10.1vh;
    top:3.4vh;
    display: flex;
    flex-direction: row;
}

#white-column {
    width:100%;
    height:100%;
    margin:0;
    background-color:white;
}

