#root {
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 191, 45);
    
}

#title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profile {
    margin-left: 5vw;
}

img {
    width:15%;
    height:10%;
}