body {
    font-family: sans-serif ;
}

.inside {
    background-color: green;
    width: 260px;
    height: 160px;
    border: 3px solid black;
    padding: green ;
    margin: 20px;
}

.secondOutsideBox {
    margin-right: 100px;
    display: inline-block;
}

.outside {
    background-color: rgb(255, 194, 103);
    width: 300px;
    height: 200px;
    padding: 1px;
}

.firstBox {
    background-color:green;
    width: 300px;
    height: 35px;
    border: 3px solid black;
    padding: 15px 100px;
    font-size: 80%;
    /*margin: 15px;*/
}

.firstOverflow {
    background-color: white;
    /*margin-left: 50px;*/
    /*padding-right: 5px;*/
    width: 200px; 
}

.extraOverflow {
    margin-top: 40px;
    margin-right: 0;
    margin-left:95px;
    width: 70px;
    height: 19px;
    font-size: 120%;
    background-color: white;
    position: relative;
    top:30px; 
}

.add1 {
    overflow: hidden;
    margin-bottom: 65px;
    position: relative;
    top:30px;  
}

.add2 {
    overflow-y: scroll;
    width: 100px;
    height: 25px;
    margin-bottom: 60px;
    position: relative;
    top:30px;
}

.firstOutsideBox {
    background-color: rgb(255, 194, 103);;
    padding:30px;
    display: inline-block;
}

.pad {
    background-color: green;
    display: inline-block;
}

.marg {
    background-color: rgb(214, 141, 45);
    display: inline-block;
}

.bord {
    background-color: white;
    display:inline-block;
    border: 3px solid black;
}

.captions {
    display: inline;
    margin: 500px 50px;
    position: relative;
    top: 30px;
}

h6 {
    box-sizing: content-box;
    margin-left: 90px;
    width: 100px;
}
