html,body {
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    font-family: sans-serif;
}

body {
    width:100%;
    height: 100%;
    margin:0;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    height: 12%;
    background-color: black;
    color:white;
    justify-content: space-around;
}

#pallete {
    text-align: center;
}

.tools {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#paint-tools {
    width: 13vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.painture {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 7px;
}

#outside-clear {
    display: flex;
    align-items: center;
}
#clear {
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
}

#pink {
    background-color: palevioletred;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#white {
    background-color: white;
}

main{
    width:100%;
    height:61%;
}

.row {
    display:flex;
    width:100%;
    height:14.28%;
    flex-direction: row;
    
}

.grid {
    width: 10%;
    height: 100%;
    background-color: white;
}